*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-size: 5rem;
}

p{
    color: #333333;
    line-height: 2.5rem;
}

#home{
    text-transform: uppercase;
}



h1, #home h2{
    font-family: 'Pathway Gothic One', sans-serif;
}

#home h2{
    font-size: 1.25rem;
    letter-spacing: 0.6em;
}

.centered{
position: absolute;
top: 25%;
left: 50%;
transform: translate(-50%, -50%);
} 

.navbar{
    background-color: #EB7100;
}

.navbar-light .navbar-toggler-icon{ 
    background-image: none;
}
.fas.fa-bars{
    font-size: 1.5rem;
    color: white;
}

hr{
    border-top: 1px solid #FF7A00;
}

.small,
.display-5{
    color: #EB7100;
}

a.nav-link{
    color: #ffffff !important;
    font-weight: 600;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 8px;
    height: 8px;
    background-color: #c4c4c4;
    color: #EB7100;
}

.carousel-inner{
    width: 100%;
    height: 400px;
}

.carousel-caption{
    bottom: 3.2rem;
}

.carousel-indicators .active {
    background-color: #EB7100;
}

.carousel-indicators{
    bottom: -2.15rem;
}
 
.white-out:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,.3);
    }

.filter{
  filter: grayscale(100%);
}

.testimonial-center{
top: 30%;
transform: translateY(-50%);
}

blockquote {
    margin: .5rem 10px;
    padding:  10px;
    quotes: "\201C""\201D""\2018""\2019";
    color: #000;
}
 blockquote:before {
  content: open-quote;
    font-size: 2em;
    line-height: 0.5rem;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  
blockquote:after {
	content: 'â€';
	right: -5rem;
    bottom: -1rem;
    font-size: 2em;
}

blockquote p {
    display: inline;
    color: #000000;
    font-size: 14px;
  }

.form-control{
background: #FEF7F1;
border: 1px solid #FF7A00;;
border-radius: 2px;

}


button.form-control{
    background: #EB7100;
    color: #ffffff;
}

div.no-height p{
    line-height: 1.5rem;
}

@media (min-width: 768px){
   

    #testimonialcarouselExampleIndicators{
        height: fit-content; 
    }

    .white-out img{
        width: 100%;
        height: auto; 
    }

    .testimonial-center{
        top: 40%;
    }

    blockquote p{
        font-size: 24px;
    }

    #servicesCarouselExampleIndicators > .carousel-inner img{
        width: 100%;
        height: auto;
    }
}

@media (min-width:1200px){
    
}